# OS files.
.DS_Store
.DS_STORE
__MACOSX

# Files that might appear on external disks.
.Spotlight-V100
.Trashes

# IDE files.
.idea
.WebIde90/restart/restarter

# SASS cache.
.sass-cache

# Drush cache & aliases.
.drush/cache
.drush/*.aliases.drushrc.php

# Atom packages.
.atom/.apm
.atom/blob-store
.atom/local-history
.atom/packages
.atom/projects.cson

# Ctags.
.ctags*
.tags*
