# OS files.
.DS_Store
__MACOSX

# Files that might appear on external disks.
.Spotlight-V100
.Trashes

# IDE files.
.idea

# SASS cache.
.sass-cache

# Drush cache.
.drush/cache

# Atom packages.
.atom/packages
