[core]
# Use a global .gitignore file.
excludesfile = ~/.gitignore

# Enable parallel I/O for operations like "git diff".
# See http://stackoverflow.com/q/18257622/276478
preloadindex = true

# Use 12 characters for the abbreviated commit hash. I can currently make
# do with 10, but this should provide a certain level of safety for the
# near-ish future. See the interesting and well-researched article at
# http://blog.cuviper.com/2013/11/10/how-short-can-git-abbreviate/
abbrev = 12

# Make `git rebase` safer on OS X
# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
trustctime = false

[color]
# Use colors by default when the output is a terminal that supports them.
ui = auto

[color "branch"]

current = yellow reverse
local = yellow
remote = green

[color "diff"]

meta = yellow bold
frag = magenta bold # line info
old = red # deletions
new = green # additions

[color "status"]

added = yellow
changed = green
untracked = cyan

[help]

# Automatically correct and execute mistyped commands
autocorrect = 1

[diff]

# Use more time to create better diffs. E.g. matching opening/closing braces
# from neighbour functions.
algorithm = patience

# Tells Git to detect renames. If set to "true", it will enable basic
# rename detection. If set to "copies", it will detect copies, as well.
renames = copies

[merge]
tool = ksdiff

# Include summaries of merged commits in newly created merge commit messages
log = true

[push]

default = simple
