# OS files.
.DS_Store
__MACOSX

# Files that might appear on external disks.
.Spotlight-V100
.Trashes

# IDE files.
.idea

# SASS cache.
.sass-cache

# Drush cache & aliases.
.drush/cache
.drush/*.aliases.drushrc.php

# Atom packages.
.atom/packages
.atom/projects.cson
.atom/local-history
.atom/.apm
