init.author.name=Alex Weber
init.author.email=alexweber15@gmail.com
init.author.url=http://alexweber.com.br
init.license=Unlicense
init.readmeFilename=README.md
init.main=index.js
init.directories.doc=docs
init.directories.test=tests
init.scripts.test=echo "Error: no test specified" && exit 1
