"*":
  welcome:
    showOnStartup: false
  core:
    followSymlinks: true
    disabledPackages: [
      "language-ruby"
      "language-ruby-on-rails"
      "language-python"
      "language-perl"
      "language-objective-c"
      "language-less"
      "language-java"
      "language-go"
      "language-clojure"
      "language-c"
      "language-toml"
      "open-on-github"
      "spell-check"
      "styleguide"
      "welcome"
      "archive-view"
      "linter-phpcs"
      "autocomplete-plus"
      "language-mustache"
      "deprecation-cop"
      "language-coffee-script"
      "language-csharp"
      "timecop"
      "language-make"
      "metrics"
    ]
    themes: [
      "seti-ui"
      "monokai"
    ]
    projectHome: "~/Projects"
    audioBeep: false
  "atom-ctags":
    autoBuildTagsWhenActive: true
  linter: {}
  editor:
    invisibles: {}
    showIndentGuide: true
  "autocomplete-plus": {}
  minimap:
    plugins:
      "git-diff": false
  "linter-jshint": {}
  "linter-phpcs": {}
  "atom-beautify": {}
