"*":
  welcome:
    showOnStartup: false
  core:
    followSymlinks: true
    disabledPackages: [
      "language-ruby"
      "language-ruby-on-rails"
      "language-python"
      "language-perl"
      "language-objective-c"
      "language-less"
      "language-java"
      "language-go"
      "language-clojure"
      "language-c"
      "language-toml"
      "open-on-github"
      "spell-check"
      "styleguide"
      "welcome"
      "archive-view"
      "language-mustache"
      "deprecation-cop"
      "language-csharp"
      "timecop"
      "language-make"
      "metrics"
      "feedback"
      "autocomplete"
      "language-source"
      "linter-phpcs"
      "language-php"
      "symbols-view"
      "autocomplete-atom-api"
    ]
    projectHome: "~/Projects"
    audioBeep: false
    ignoredNames: [
      ".git"
      ".DS_S*"
      ".idea"
      ".imdone"
      ".tags*"
      "tags"
    ]
    excludeVcsIgnoredPaths: false
  "atom-ctags":
    autoBuildTagsWhenActive: true
    GotoSymbolKey: [
      "meta"
    ]
    buildTimeout: 10000
    cmdArgs: "--exclude=.git --exclude=bower_components --exclude=coverage --exclude=docs --exclude=node_modules"
  linter:
    lintOnEditorFocus: false
    showInfoMessages: true
    statusBar: "Show error of the selected line"
    lintOnChange: false
    clearOnChange: true
    subtleLinterErrors: [
      "phpcs"
    ]
    lintOnFly: false
    showErrorTabProject: false
    showErrorTabFile: false
    showErrorPanel: false
  editor:
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrapHangingIndent: 2
    softTabs: false
    softWrapAtPreferredLineLength: true
    backUpBeforeSaving: true
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "exception-reporting":
    userId: "84293ec2-27b8-7254-2305-899a45ce785f"
  "linter-phpcs":
    standard: "/Users/alex/Bluetent/code-sniffer/Drupal"
  "autocomplete-plus": {}
  minimap:
    plugins:
      "highlight-selected": true
  "tool-bar": {}
  "atom-typescript": {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  "symbols-tree-view":
    zAutoHideTypes: "property variable class object boolean string integer array"
    autoToggle: true
  "linter-php": {}
  "linter-scss-lint":
    executablePath: "/usr/bin/scss-lint"
  "git-diff":
    showIconsInEditorGutter: true
  "color-picker":
    abbreviateValues: true
    automaticReplace: true
    uppercaseColorValues: true
  "file-templates": {}
  "quick-editor": {}
  "imdone-atom":
    openIn: {}
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "one-dark-ui": {}
  docblockr:
    deep_indent: true
    spacer_between_sections: true
  "highlight-selected":
    onlyHighlightWholeWords: true
  "status-bar": {}
  "project-manager": {}
  "autoclose-html": {}
  "atom-beautify":
    analytics: false
    _loggerLevel: "error"
    js_end_with_comma: true
    js_end_with_newline: true
    js_indent_with_tabs: false
    js_space_after_anon_function: true
  pigments: {}
  "symbols-view": {}
  "atom-material-ui":
    fonts:
      fontSize: 15
    ui:
      panelContrast: true
    tabs: {}
    treeView:
      compactList: true
    colors:
      abaseColor:
        red: 80
        green: 149
        blue: 57
        alpha: 1
  "recent-files-fuzzy-finder":
    restoreSession: true
  "tool-bar-almighty": {}
  "dark-flat-ui":
    accentColor: "green"
".source.ts.tsx":
  editor:
    preferredLineLength: 120
".angular.html.text":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 2
".handlebars.html.text":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 2
".ini.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 2
".source.ts":
  editor:
    preferredLineLength: 120
jshint:
  validateOnlyOnSave: true
minimap:
  plugins:
    "git-diff": false
"autocomplete-plus":
  enableAutoActivation: false
editor:
  showIndentGuide: true
  preferredLineLength: 120
